- Has the network latency gone up since we switched internet service providers?

Is there a relationship between switching providers and the network latency going up?

NULL: Latency has remained the same or decreased
ALT: Latency has increased 

Type 1: We belived the current provider was worse than before, but we were wrong
Type 2: The current provider is worse than the one before, but we thought there wsa no relationship

- Is the website redesign any good?

Do we get more user interaction after the website redesign?

NULL: The redesign had no effect 
ALT: Because the redesign was more user friendly, we got more user interaction

Type 1: The webisite redesign had an affect but we said there wasn't
Type 2: There was no affect but we said that there was

- Is our television ad driving more sales?

Did our tv had have an effect in the number of sales going up?

NULL: The tv ad had no effect on our sales
ALT: The tv ad positively affected our number of sales since going public

## Answer with the type of test you would use (assume normal distribution):

### Is there a difference in grades of students on the second floor compared to grades of all students?

- I would use a T-test

### Are adults who drink milk taller than adults who dont drink milk?

- I would use a Two-Sample T-test

### Is the the price of gas higher in texas or in new mexico?

- I would use a Two-smaple Two-tail test

### Are there differences in stress levels between students who take data science vs students who take web development vs students who take cloud academy?

- I would use a ANOVA test

## Load the mpg dataset and use it to answer the following questions:

### Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns

In [8]:
from pydataset import data
df = data('mpg')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

### Are compact cars more fuel-efficient than the average car?

### Do manual cars get better gas mileage than automatic cars?